body {
  font-family: 'CustomFont', sans-serif;
  font-size: 60px;
  color: #333;
  background-color: #FFFF00;
  text-align: center;
  padding-top: 100px;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/futurehistorydemo.otf')
  font-weight: normal;
  font-style: normal;
}
